amqp==2.4.2
anyjson==0.3.3
billiard==3.6.0.0
celery==4.3.0
dataclasses==0.6
Django==2.1.1
djangorestframework==3.9.2
djongo==1.2.30
kombu==4.5.0
numpy==1.16.3
opencv-python==4.1.0.25
opencv-contrib-python==4.1.0.25
Pillow==6.0.0
pymongo==3.8
pytz==2019.1
redis==3.2.1
sqlparse==0.2.4
vine==5.0.0a1
matplotlib
https://github.com/OlafenwaMoses/ImageAI/releases/download/2.0.2/imageai-2.0.2-py3-none-any.whl
tensorflow
keras
mongoengine
django-environ
psycopg2==2.8 --no-binary psycopg2  # https://github.com/psycopg/psycopg2
gunicorn
